<div id = "username" class="edit-form tab-pane active" style="margin-top:20px">
   <%= form_for(@user, html: { multipart: true, autocomplete: "off" }) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <div>
       <h2 style="color:#777"> Change Profile Information </h2>
       <hr style="margin-left:-40px; margin-right:-40px">
       </div>
       <div>
       <%= f.label :Avatar %>
       </div>
        <div style="display:inline-block">
           <span class ="picture">
              <!-- These can have the same ID, because only one will ever be displayed -->
                <%= image_tag @user.picture? ? @user.picture.thumb.url : 'default-thumb-120.png', id:'image-preview', style:"border-radius:5px;" %>
              <!-- <input type = "file", html = {hidden: "true"} > -->
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', onchange:"previewImage(this, '#image-preview', 120, 120)", style:"display:none", id:"file-input" %>
           </span> 
         </div> 

       <div>
         <a href='#' id="file-input-button" style="margin-top:10px" class="btn btn-sm btn-info"> Upload <i class="fa fa-upload"></i></a>
         <span class="disable-select" id ="display-text" style="color:#999"> No File Selected </span>
       </div>

       <div style="padding-top:30px">
         <%= f.label :username %>
         <%= f.text_field :username, class: 'form-control' %>

         <%= f.label :email %>
         <%= f.email_field :email, class: 'form-control' %>
       </div>

       <div style="padding-top:40px">
        <a href="#pass-prompt" data-toggle="modal">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </a> 
       </div>
       
       <!-- modal -->
       <div class="settings-modal modal" id="pass-prompt" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-content">
                   <div class="settings-modal-header">
                     <h4 class="settings-form-header"> Confirm Password </h4>
                   </div>
                   <div class="modal-body">
                        <%= f.password_field :pass_prompt, placeholder: "Enter your current password", class: 'form-control', autofocus: "autofocus" %>
                        <div class="row">
                           <div class="col-sm-4 col-sm-offset-4">
                             <%= f.submit "Confirm", class: "btn btn-success", confirm_button:'confirm_button' %>
                           </div>
                        </div>
                   </div>
                   <!-- the X that closes the modal -->
                  <div class="close-modal"data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></div>
              </div>
       </div>
       <!-- end modal -->
   <% end %>
</div>
